.profile-container{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.profile-card{
    width: 150px;
    padding: 1rem;
    cursor: pointer; /* fareyi parmak yapar */
}

.profile-card:hover img{
    width: 146px;
    border: 2px rgb(255, 255, 255) solid;
}

.profile-card:hover h2{
    color: rgb(255, 255, 255);
}

.profile-card img{
    display: block;
    width: 100%;
    border-radius: 0.5rem;
}

.profile-card h2{
    text-align: center;
    color: rgb(8, 8, 8);
}